@use "sass:map";
@import '../../global/global';

@mixin variant($variant: 'primary') {
  background-color: map.get($colors-map, $variant);

  &:hover {
    background-color: map.get($colors-map, "#{$variant}-dark");
  }
  &:active {
    background-color: map.get($colors-map, "#{$variant}-darker");
  }
  &:disabled {
    background-color: map.get($colors-map, "#{$variant}-light");
  }
  &:focus {
    border: 2px solid map.get($colors-map, "#{$variant}-darker");
  }
}

:host([blocked=true]),
:host([blocked]) {
  flex: 1;
}

:host([disabled=true]),
:host([disabled]) {
  pointer-events: none;
}

button {
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  border-radius: $border-radius-base;
  font-weight: 600;
  letter-spacing: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $font-color-light;
  transition: all $transition-04-ease-out;

  &.primary {
    @include variant('primary');
  }

  &.success {
    @include variant('success');
  }

  &.danger {
    @include variant('danger');
  }

  &.warning {
    @include variant('warning');
  }

  &.outline {
    background-color: $color-outline;
    border: $border-2-dark;
    color: $font-color-dark;

    &:hover {
      background-color: $color-outline-dark;
      color: $font-color-light;
    }
    &:active {
      background-color: $color-outline-darker;
    }
    &:disabled {
      background-color: transparent;
      border: $border-2-gray;
      color: $font-color-gray;
    }
    &:focus {
      border: 2px solid darken($black, 30%);
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.small {
    font-size: $font-size-sm;
    padding: $space-1 $space-2;
  }

  &.medium {
    font-size: $font-size-md;
    padding: $space-2 $space-3;
  }

  &.large {
    font-size: $font-size-lg;
    padding: $space-3 $space-4;
  }

  &.huge {
    font-size: $font-size-xl;
    padding: $space-4 $space-5;
  }

  &.blocked {
    width: 100%;
  }
}

